{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-prototype-builtins": "off",
    "import/extensions": "off",
    "no-param-reassign": ["error", { "props": false }]
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
