body {
  background: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
  display: flex;
  height: 100vh;
  margin: 0;
  --mdc-theme-primary-medium-emphasis: rgba(98, 0, 238, 0.08);
}

body.dark {
  --mdc-theme-background: #121212;
  --mdc-theme-primary: #bb86fc;
  --mdc-theme-secondary: #03dac6;
  --mdc-theme-text-primary-on-background: white;
  --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.87);
  --mdc-theme-surface: #121212;
  --mdc-theme-on-surface: white;
  --mdc-theme-on-surface-high-emphasis: rgba(255, 255, 255, 0.87);
  --mdc-theme-on-surface-medium-emphasis: rgba(255, 255, 255, 0.60);
  --mdc-theme-on-background: white;
  --mdc-theme-on-primary: #000000;
  --mdc-theme-on-secondary: #000000;
  --mdc-theme-error: #cf6679;
  --mdc-theme-primary-medium-emphasis: rgba(187, 134, 252, 0.08);
  --mdc-checkbox-unchecked-color: var(--mdc-theme-on-surface-medium-emphasis);
}

application-shell {
  width: 100%;
  display: flex;
}

.content {
  visibility: hidden;
}

application-shell .content.slotted {
  visibility: visible !important;
}

:host(.dark) .mdc-top-app-bar {
  background-color: rgba(255,255,255,0.05);
}

:host(.dark) .mdc-drawer
{
  background-color: rgba(255,255,255,0.07);
}

:host(.dark) .mdc-drawer--modal
{
  background-color: #121212;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mdc-tab-bar {
  display: none;
}

.content-scroller {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.content-container {
  display: flex;
  flex: 1;
  height: max-content;
  min-height: 100%;
}

.content-pane {
  flex: 2;
  padding: 0;
}

.browser-support {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  width: 300px;
  min-height: 100%;
  display: none;
}

.show-browser-support .browser-support {
  display: block;
}

.browser-support li {
  display: flex;
}

.browser-support .mdc-list-item__text {
  flex: 1;
}

.browser-support .mdc-list-item__meta i {
  vertical-align: middle;
  color: var(--mdc-theme-secondary);
  opacity: 0.5;
}

.browser-support .mdc-list-item__meta i.not-supported {
  color: var(--mdc-theme-error);
}

:host(.dark) .browser-support .mdc-list-item__meta i {
  opacity: 1;
}

.browser-support .mdc-list-item__primary-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
 
.browser-support .mdc-list-group h5 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .show-browser-support .mdc-tab-bar {
    display: block !important;
  }
  .content-pane,
  .show-browser-support .browser-support {
    display: none;
  }
  .content-pane.tab-selected,
  .show-browser-support .browser-support.tab-selected {
    display: block;
  }
  .browser-support {
    border-left: none;
    min-width: inherit;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.mdc-top-app-bar__navigation-icon {
  display: none !important;
}

@media (max-width: 1200px) {
  .mdc-top-app-bar__navigation-icon {
    display: block !important;
  }
}

nav .mdc-list-item {
  height: 48px;
  align-items: center !important;
}

nav .mdc-list-item__text {
  padding-left: 12px;
}

.activity-heading {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 6px 12px 6px 6px; 
}

.dark .activity-heading {
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--mdc-theme-on-surface);
}

.activity-heading i {
  padding-right: 12px;
}

.activity-heading h4 {
  margin: 0;
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.07);
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled) input {
  color: var(--mdc-theme-text-primary-on-background);
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-chip {
  background-color: rgba(21,21,21,0.08);
}

.mdc-chip i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.dark .mdc-chip {
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--mdc-theme-on-surface-high-emphasis);
}

.dark .mdc-chip i {
  color: var(--mdc-theme-on-surface-high-emphasis)
}

.mdc-chip:hover {
  background-color: rgba(21,21,21,0.12);
}

.mdc-chip:focus {
  background-color: rgba(21,21,21,0.16);
}

.dark .mdc-chip:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.dark .mdc-chip:focus {
  background-color: rgba(255, 255, 255, 0.16);
}

.mdc-chip.mdc-chip--selected,
.mdc-chip.mdc-chip--selected:focus,
.mdc-chip.mdc-chip--selected:hover {
  background-color: var(--mdc-theme-primary-medium-emphasis);
}

.mdc-chip.mdc-chip--selected .mdc-chip__text,
.mdc-chip.mdc-chip--selected i,
.mdc-chip.mdc-chip--selected .mdc-chip__text:focus,
.mdc-chip.mdc-chip--selected i:focus,
.mdc-chip.mdc-chip--selected .mdc-chip__text:hover,
.mdc-chip.mdc-chip--selected i:hover {
  color: var(--mdc-theme-primary);
}

.dark .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--mdc-theme-on-surface-medium-emphasis);
}

:host(.dark) .mdc-menu::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.16);
}

.mdc-tab-bar {
  background-color: var(--mdc-theme-primary);
}

:host(.dark) .mdc-tab-bar {
  background-color: rgba(255,255,255,0.05);
}

.mdc-tab .mdc-tab__icon,
.mdc-tab .mdc-tab__text-label {
  color: rgba(255, 255, 255, 0.60);
}

.mdc-tab--active .mdc-tab__icon,
.mdc-tab--active .mdc-tab__text-label {
  color: var(--mdc-theme-on-primary);
}

:host(.dark) .mdc-tab .mdc-tab__icon,
:host(.dark) .mdc-tab .mdc-tab__text-label {
  color: var(--mdc-theme-on-surface-medium-emphasis);
}

:host(.dark) .mdc-tab--active .mdc-tab__icon,
:host(.dark) .mdc-tab--active .mdc-tab__text-label {
  color: var(--mdc-theme-primary);
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: white;
}

:host(.dark) .mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: var(--mdc-theme-primary);
}

:host(.dark) .mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: var(--mdc-theme-on-background) !important;
}
