h5 {
  margin-top: 0;
}

.create-notification #create-notification-fab,
.create-notification #notifications {
  display: none;
}

#notifications {
  position: relative;
  width: 100%;
}

#notifications .no-notifications {
  opacity: 0;
  position: absolute;
  top: 1.5em;
  width: 100%;
  transition: opacity 250ms;
  display: flex;
  padding-top: 0.75em;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  z-index: -1;
}

#notifications ul {
  opacity: 1;
  transition: opacity 250ms 250ms;
  z-index: 1;
}

#notifications ul:empty {
  opacity: 0;
}

#notifications ul:empty ~ .no-notifications {
  opacity: 1;
}

#notifications .no-notifications i {
  height: 100%;
  text-align: center;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
  font-size: min(calc(100vh - 400px), 300px);
}

.dark #notifications .no-notifications i {
  opacity: 1.0;
}

#notifications .no-notifications h3 {
  font-weight: normal;
  margin: 0 0 0.75em;
}

#notifications .no-notifications .tagline {
  max-width: 250px;
  text-align: center;
}

#notifications li {
  flex-wrap: wrap;
  padding: 0.75em 0.75em;
  align-items: center;
  height: 3em;
  overflow: hidden;
  transition: height 500ms;
}

#notifications li.expanded {
  transition: height 500ms;
}

#notifications .item-icon {
  margin-right: 12px;
}

#notifications .notification-expand {
  margin-left: 12px;
}

#notifications .notification-status {
  margin: 12px;
  position: relative;
  z-index: 1;
  color: var(--mdc-theme-secondary);
}

#notifications .notification-status:before,
#notifications .notification-status:after {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  content: '';
  background-color: rgba(1, 135, 134, 0.2);
  z-index: -1;
}

#notifications .notification-status:before {
  background-color: rgba(1, 135, 134, 0.2);
}

#notifications .notification-status:after {
  height: 0;
  width: 0;
  top: 12px;
  left: 12px;
  background-color: #e0e0e0;
}

.dark #notifications .notification-status:after {
  background-color: rgba(255, 255, 255, 0.08);
}

#notifications .notification-status.closed {
  color: #999999;
}

.dark #notifications .notification-status.closed {
  color: rgba(255, 255, 255, 0.24);
}

#notifications .notification-status.error {
  color: var(--mdc-theme-error);
  opacity: 0.7;
}

.dark #notifications .notification-status.error {
  color: var(--mdc-theme-error);
  opacity: 1;
}

#notifications .notification-status.error:before,
#notifications .notification-status.error:after {
  background-color: var(--mdc-theme-error);
  opacity: 0.1;
}

.dark #notifications .notification-status.error:before,
.dark #notifications .notification-status.error:after {
  opacity: 0.2;
}

#notifications .notification-status.closed:before {
  height: 0;
  width: 0;
  top: 12px;
  left: 12px;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

#notifications .notification-status.closed:after {
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  transition: width 0.5s 0.2s, height 0.5s 0.2s, top 0.5s 0.2s, left 0.5s 0.2s;
}

#notifications .mdc-list-item__text.notification-content {
  flex: 1;
}

#notifications .notification-title,
#notifications .notification-body {
  max-width: 150px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

#notifications .notification-source {
  font-weight: normal;
  font-size: var(--mdc-typography-body2-font-size, 0.875rem);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

#notifications .notification-source,
#notifications .notification-time {
  text-align: right;
}

#notifications .notification-details {
  flex-basis: 100%;
  margin: 0.75em 2em 0.4em 3em;
}

#notifications .notification-details div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#notifications .notification-details .mdc-chip-set {
  margin: 0;
}

#notifications .notification-details .mdc-chip {
  font-size: 0.75em;
  padding: 0 0.5em;
  height: 1.75em;
}

#notifications .notification-details .mdc-chip i {
  font-size: 0.9em;
  margin-right: 0.4em;
}

#notifications .notification-details .mdc-chip.hide {
  display: none;
}

#notifications .notification-details .mdc-chip.selected {
  color: var(--mdc-theme-primary);
}

#notifications .notification-details .error-section {
  padding: 0.5em;
  color: var(--mdc-theme-error);
}

#notifications .notification-details .error-section:empty {
  display: none;
}

#create-notification {
  display: none;
}

.create-notification #create-notification {
  display: block;
}

.mdc-text-field {
  margin: 1em 0 0;
  width: calc(100% - 0.6em);
}

.mdc-chip-set {
  margin-bottom: 1.5em;
}

.mdc-chip-set--filter .mdc-chip i {
  width: 0;
  overflow: hidden;
  transition: width 200ms;
}

.mdc-chip-set--filter .mdc-chip.mdc-chip--selected i {
  width: 1.5em;
  transition: width 200ms;
}

#notify-button {
  margin: 1.5em 0;
  width: 100%;
  background-color: var(--mdc-theme-secondary);
}
