h5 {
  margin-top: 0;
}

.create-notification #create-notification-fab,
.create-notification #notifications {
  display: none;
}

#notifications {
  position: relative;
  width: 100%;
  max-width: 100%;
}

#notifications .no-notifications {
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  width: 100%;
  transition: opacity 250ms;
  display: flex;
  padding-top: 0.75rem;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  z-index: -1;
}

#notifications ul {
  opacity: 1;
  transition: opacity 250ms 250ms;
  z-index: 1;
}

#notifications ul:empty {
  opacity: 0;
}

#notifications ul:empty ~ .no-notifications {
  opacity: 1;
}

#notifications .no-notifications i {
  height: 100%;
  text-align: center;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
  font-size: min(calc(100vh - 400px), 300px);
}

.dark #notifications .no-notifications i {
  opacity: 1;
}

#notifications .no-notifications h3 {
  font-weight: normal;
  margin: 0 0 0.75rem;
}

#notifications .no-notifications .tagline {
  max-width: 250px;
  text-align: center;
}

#notifications li {
  padding: 0.75rem 0.75rem;
  align-items: center;
  height: 75px;
  overflow: hidden;
  transition: height 500ms;
  cursor: default;
}

#notifications li.expanded {
  transition: height 500ms;
}

#notifications .item-icon {
  margin-right: 12px;
}

#notifications .notification-expand {
  margin-left: 12px;
}

#notifications .notification-status {
  margin: 12px;
  position: relative;
  z-index: 1;
  color: var(--mdc-theme-secondary);
}

#notifications .notification-status:before,
#notifications .notification-status:after {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  content: '';
  background-color: rgba(1, 135, 134, 0.2);
  z-index: -1;
}

#notifications .notification-status:before {
  background-color: rgba(1, 135, 134, 0.2);
}

#notifications .notification-status:after {
  height: 0;
  width: 0;
  top: 12px;
  left: 12px;
  background-color: #e0e0e0;
}

.dark #notifications .notification-status:after {
  background-color: rgba(255, 255, 255, 0.08);
}

#notifications .notification-status.closed {
  color: #999999;
}

.dark #notifications .notification-status.closed {
  color: rgba(255, 255, 255, 0.24);
}

#notifications .notification-status.error {
  color: var(--mdc-theme-error);
  opacity: 0.7;
}

.dark #notifications .notification-status.error {
  color: var(--mdc-theme-error);
  opacity: 1;
}

#notifications .notification-status.error:before,
#notifications .notification-status.error:after {
  background-color: var(--mdc-theme-error);
  opacity: 0.1;
}

.dark #notifications .notification-status.error:before,
.dark #notifications .notification-status.error:after {
  opacity: 0.2;
}

#notifications .notification-status.closed:before {
  height: 0;
  width: 0;
  top: 12px;
  left: 12px;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

#notifications .notification-status.closed:after {
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  transition: width 0.5s 0.2s, height 0.5s 0.2s, top 0.5s 0.2s, left 0.5s 0.2s;
}

#notifications .mdc-list-item__text.notification-content {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

#notifications .notification-title {
  font-weight: bold;
}

#notifications .notification-title,
#notifications .notification-body {
  color: var(--mdc-theme-on-surface-high-emphasis);
}

#notifications .notification-title,
#notifications .notification-body,
#notifications .notification-source {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notifications .notification-source {
  margin-right: 0.5em;
}

#more-info-dialog .scroller {
  max-height: 70vh;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dark #more-info-dialog .scroller {
  border-color: rgba(255, 255, 255, 0.24);
}

#more-info-dialog .setting.hide,
#more-info-dialog .notification-action.hide {
  display: none;
}

#more-info-dialog .notification-body,
#more-info-dialog .mdc-dialog__title {
  color: var(--mdc-theme-on-surface-high-emphasis);
}

#more-info-dialog #dialog-content {
  flex-shrink: 0;
}

#more-info-dialog .notification-body {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#more-info-dialog .error-section {
  color: var(--mdc-theme-error);
  max-width: 300px;
}

#more-info-dialog .error-section:empty {
  display: none;
}

#more-info-dialog section {
  margin-bottom: 1rem;
  color: var(--mdc-theme-on-surface-high-emphasis);
}

#more-info-dialog .mdc-chip-set {
  padding-left: 0;
  margin-left: -5px;
  pointer-events: none;
}

#dialog-settings .setting {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

#dialog-settings .setting i,
#dialog-settings .setting div {
  min-width: 2rem;
  text-align: center;
}

.dark #dialog-settings .setting i,
.dark #dialog-settings .setting div {
  color: var(--mdc-theme-primary);
}

#create-notification {
  display: none;
}

.create-notification #create-notification {
  display: block;
}

.mdc-text-field {
  margin: 1rem 0 0;
  width: calc(100% - 0.6rem);
}

.mdc-chip-set {
  margin-bottom: 1.5rem;
}

.mdc-chip-set--filter .mdc-chip i {
  width: 0;
  overflow: hidden;
  transition: width 200ms;
}

.mdc-chip-set--filter .mdc-chip.mdc-chip--selected i {
  width: 1.5rem;
  transition: width 200ms;
}

#notify-button {
  margin: 1.5rem 0;
  width: 100%;
  background-color: var(--mdc-theme-secondary);
}
