:host(.dark) * {
  scrollbar-color: dark;
}

:host(.dark) *::-webkit-scrollbar {
  width: inherit;
}

:host(.dark) *::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

:host(.dark) *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.12);
}

:host(.dark) .mdc-top-app-bar {
  background-color: rgba(255, 255, 255, 0.05);
}

:host(.dark) .mdc-drawer {
  background-color: rgba(255, 255, 255, 0.07);
}

:host(.dark) .mdc-drawer--modal {
  background-color: #121212;
}

header {
  box-shadow: none;
}

:host(.dark) header {
  box-shadow: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 3;
  min-width: 0;
}

.content-scroller {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.content-container {
  display: flex;
  flex: 1;
  height: max-content;
  min-height: 100%;
  min-width: 0;
}

.content-pane {
  flex: 2;
  padding: 0;
  min-width: 0;
}

.mdc-tab-bar {
  display: none;
}

.show-api-summary .mdc-tab-bar {
  display: block;
}

.api-summary {
  border-left: none;
  width: 100%;
  z-index: 0;
  display: none;
}

:host(.dark) .api-summary {
  background-color: rgba(255, 255, 255, 0.07);
}

.show-api-summary .api-summary {
  display: none;
}

.show-api-summary .content-pane {
  display: none;
}

.show-api-summary .content-pane.tab-selected,
.show-api-summary .api-summary.tab-selected {
  display: block;
}

:host(.dark) .show-api-summary .api-summary.tab-selected {
  background-color: unset;
}

.api-summary .make-it-work {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  display: flex;
  margin: 16px 16px 0 16px;
  align-items: center;
  gap: 1rem;
}

.api-summary .make-it-work button:disabled + label {
  opacity: 0.78;
}

.api-summary li {
  display: flex;
}

.api-summary .mdc-list-item__text {
  flex: 1;
}

.api-summary .mdc-list-item__meta i {
  vertical-align: middle;
  color: var(--mdc-theme-secondary);
  opacity: 0.5;
}

.api-summary .mdc-list-item__meta i.not-supported {
  color: var(--mdc-theme-error);
}

:host(.dark) .api-summary .mdc-list-item__meta i {
  opacity: 1;
}

.api-summary .mdc-list-item__primary-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75rem;
}

.api-summary .mdc-list-group h5 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  header {
    box-shadow: 0px 0px 10px 2px #666666;
  }
  .show-api-summary .mdc-tab-bar {
    display: none;
  }
  .content-pane,
  .show-api-summary .api-summary {
    display: block;
  }
  .api-summary {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    width: 300px;
    display: none;
  }
}

.mdc-top-app-bar__navigation-icon {
  display: none !important;
}

@media (max-width: 1200px) {
  .mdc-top-app-bar__navigation-icon {
    display: block !important;
  }
}

nav .mdc-list-item {
  height: 3rem;
  align-items: center !important;
}

nav .mdc-list-item__text {
  padding-left: 0.75rem;
}

nav i {
  max-width: 1.5rem;
}

/*****************************************************************************/
/* MDC overrides
/*****************************************************************************/

:host(.dark) .mdc-menu::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.16);
}

.mdc-tab-bar {
  background-color: var(--mdc-theme-primary);
  box-shadow: 0px 0px 10px 2px #666666;
  z-index: 5;
}

:host(.dark) .mdc-tab-bar {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: none;
}

.mdc-tab .mdc-tab__icon,
.mdc-tab .mdc-tab__text-label {
  color: rgba(255, 255, 255, 0.6);
}

.mdc-tab--active .mdc-tab__icon,
.mdc-tab--active .mdc-tab__text-label {
  color: var(--mdc-theme-on-primary);
}

:host(.dark) .mdc-tab .mdc-tab__icon,
:host(.dark) .mdc-tab .mdc-tab__text-label {
  color: var(--mdc-theme-on-surface-medium-emphasis);
}

:host(.dark) .mdc-tab--active .mdc-tab__icon,
:host(.dark) .mdc-tab--active .mdc-tab__text-label {
  color: var(--mdc-theme-primary);
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: white;
}

:host(.dark) .mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: var(--mdc-theme-primary);
}

:host(.dark) .mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: var(--mdc-theme-on-background) !important;
}
