h2.tag-line {
  width: calc(100% - 24px);
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  font-weight: normal;
}

#overview {
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 72px;
  align-items: flex-end;
  justify-content: space-evenly;
}

#overview::-webkit-scrollbar {
  display: none;
}

.overview-item {
  text-align: center;
  min-width: 160px;
  max-width: 160px;
  scroll-snap-align: center;
}

.overview-item i {
  font-size: 100px;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
}

.dark .overview-item i {
  opacity: 1;
}

.overview-navigation {
  display: none;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}

.overview-navigation ul {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  list-style: none;
  display: inline-block;
}

.overview-navigation ul li {
  display: inline-block;
  padding: 0 12px;
}

.overview-navigation ul li a {
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--mdc-theme-secondary);
  opacity: 0.3;
  font-size: 0;
}

.overview-navigation ul li a.highlight {
  opacity: 1;
}

#get-started,
#view-source {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  background-color: var(--mdc-theme-secondary);
}

#get-started {
  display: none;
}

#view-source {
  display: block;
}

@media (max-width: 600px) {
  #overview {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    justify-content: unset;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .overview-item {
    min-width: 160px;
    max-width: 160px;
    padding: 0 60px;
  }

  .overview-navigation {
    display: block;
  }
}

@media (max-width: 1200px) {
  #get-started {
    display: block;
  }

  #view-source {
    display: none;
  }
}
