.share {
  position: relative;
  width: 100%;
}

.share .share__content {
  position: absolute;
  top: 48px;
  width: 100%;
  transition: opacity 250ms;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.dark .share .share__content i {
  opacity: 1;
}

.select-image {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-image > i {
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
  font-size: min(calc(100vh - 448px), 252px);
  display: block;
}

.share .share__content .select-image.select-image--hidden {
  display: none;
}

.share-image {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share .share__content .share-image {
  display: none;
}

.share .share__content .share-image.share-image--visible {
  display: flex;
}

.share-image__display {
  max-height: min(calc(100vh - 448px), 252px);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 500ms;
}

.share-image__display.share-image__display--loaded {
  opacity: 1;
}

#file-selector {
  display: none;
}

.file-selector-label.file-selector-label {
  margin: 1em;
  background-color: var(--mdc-theme-secondary);
  color: var(--mdc-theme-on-secondary);
}

.share-buttons {
  margin: 1em;
  text-align: center;
}

.share-buttons__share {
  margin-left: 1em;
  background-color: var(--mdc-theme-secondary);
}
