#contacts .no-contacts {
  position: absolute;
  top: 48px;
  width: 100%;
  transition: opacity 250ms;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  z-index: -1;
}

#contacts .no-contacts i {
  height: 100%;
  text-align: center;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
  font-size: min(calc(100vh - 448px), 252px);
}

.dark #contacts .no-contacts i {
  opacity: 1.0;
}

#contacts .no-contacts h3 {
  font-weight: normal;
  margin: 24px 0 12px;
}

#contacts .no-contacts .tagline {
  max-width: 250px;
  text-align: center;
}
