#contacts {
  position: relative;
  width: 100%;
}

#contacts .no-contacts {
  opacity: 0;
  position: absolute;
  top: 48px;
  width: 100%;
  transition: opacity 250ms;
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  z-index: -1;
}

#contacts ul {
  opacity: 1;
  transition: opacity 250ms 250ms;
  z-index: 1;
}

#contacts ul:empty {
  opacity: 0;
}

#contacts ul:empty ~ .no-contacts {
  opacity: 1;
}

#contacts .no-contacts i {
  height: 100%;
  text-align: center;
  color: var(--mdc-theme-primary);
  opacity: 0.2;
  font-size: min(calc(100vh - 448px), 252px);
}

.dark #contacts .no-contacts i {
  opacity: 1.0;
}

#contacts .no-contacts h3 {
  font-weight: normal;
  margin: 24px 0 12px;
}

#contacts .no-contacts .tagline {
  max-width: 250px;
  text-align: center;
}

#contacts li {
  flex-wrap: wrap;
  padding: 0.75em 0.75em;
  align-items: center;
  height: 3em;
  overflow: hidden;
  transition: height 500ms;
}

#contacts .item-icon {
  margin-right: 12px;
}

#contacts .contact-icon {
  margin: 12px;
  position: relative;
  z-index: 1;
  color: var(--mdc-theme-secondary);
}

#contacts .contact-icon:before,
#contacts .contact-icon:after {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  content: '';
  background-color: rgba(1, 135, 134, 0.2);
  z-index: -1;
}

#contacts .mdc-list-item__text.contact-content {
  flex: 1;
}

#contacts .contact-name,
#contacts .contact-address {
  max-width: 150px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

#contacts .contact-email {
  font-weight: normal;
  font-size: var(--mdc-typography-body2-font-size, 0.875rem);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

#contacts .contact-email,
#contacts .contact-tel {
  text-align: right;
}
